.container{
    background-color: #00b0ff;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content:center;

    height :200px;
}
.item{
    background-color: #ff989f;
    border: solid;
    border-width: 2px;
    flex-basis: 150px;
    flex-grow: 1;

    flex-shrink: 1;

}

.item1{
    background-color: #8cfff8;

    flex-grow: 2;
    flex-shrink:3;
    align-self:center;

}